<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
        body{
            font-family: 'Oswald', sans-serif;
        }    
        div {
                border: 5px solid purple;
            }
            #container {
                display:grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        </style>